container_commands:
  00_makemigrations:
    command: "django-admin makemigrations"
    leader_only: true
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  03_createsu:
    command: "django-admin createsuperuser"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings