{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <title>{% block title_name%}{% endblock title_name%}</title>
</head>

<body>

    {% include "partial/messages.html" %}

    <header
        class="container max-w-full flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white inset-0">
        <div class="flex items-center w-full">
            <a class="mr-6" href="{% url "core:core" %}">
                <i class="fas fa-video text-5xl ml-5"></i>
            </a>
        </div>

        {% include "partial/nav.html" %}

    </header>


    {% block content %}
    {% endblock %}

    {% include "partial/footer.html" %}


</body>

</html>