{% extends "base.html" %}

{% block title_name %}
Reservation Delete
{% endblock title_name %}


{% block content %}

{% if reservation.lender == user %}

<div class="container lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center p-5 border border-gray-500 mt-24">

    <div class="w-full py-10 text-center">
        <i class="fas fa-exclamation-circle text-5xl text-red-600 mb-6"></i>
        <br>
        <span class="font-bold">
            취소를 할 경우 취소 이력이 기록되며,
            <br>취소를 번복할 수 없습니다. 정말 취소하시겠습니까?
        </span>
    </div>

    <form method="post" action="{% url "reservations:reservationdelete" reservation.pk %}">
        {% csrf_token %}

        <input type="submit" value="취소하기" class="bg-red-500 border-0 rounded-lg px-10 py-4 font-bold hover:bg-red-600">

    </form>
</div>

{% else %}

<div class="container lg:w-5/12 md:w-1/2 border-2 border-gray-500 rounded-lg mx-auto mt-24">

    <img src="https://ww.namu.la/s/9620a2d7dd8714969bbaf670d47705fa32678fecaa5b53c78938aef5b83470ab20e50558974382789488f95a91bf11f7294f552b94295b7fa0261f37a523f2340fab933c697069f0ee93bc8bbf4f69ef81dcc9b2a905853e3cde04d2968364e9"
        alt="">

    <div class="mx-auto text-center mt-8 mb-4">
        <i class="fas fa-skull-crossbones font-black text-6xl text-red-600"></i>
    </div>
    <div class="mx-auto text-center mb-8">
        <span class="font-black text-2xl text-red-600">어디서 사기를 치려고 하세요?</span>
    </div>
</div>

{% endif %}


{% endblock content %}