{% extends "base.html" %}

{% block title_name %}
Instant Reservation
{% endblock title_name %}


{% block content %}

<div
    class="container lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center rounded-lg p-5 bg-gray-300 border border-gray-500 mt-24">
    <div class="text-4xl"><i class="fas fa-exclamation-circle text-red-600 px-4"></i><span
            class="font-bold">당일대여</span><i class="fas fa-exclamation-circle text-red-600 px-4"></i></div>
    <form method="post" action="{% url "reservations:instantreservation" %}" class="">
        {% csrf_token %}



        <span class="hidden">{{form.lender}}</span>
        <span class="hidden">{{form.instant_boolean}}</span>
        <span class="hidden">{{form.reserv_code}}</span>

        <span class="font-bold">{{form.check_in.label}}</span>
        <span class="form">{{form.check_in}}</span>
        <span class="font-bold">{{form.check_out.label}}</span>
        <span class="form">{{form.check_out}}</span>
        <span class="font-bold">{{form.catagory.label}}</span>
        <span class="form">{{form.catagory}}</span>
        <span class="font-bold">{{form.purpose.label}}</span>
        <span class="form">{{form.purpose}}</span>
        <span class="font-bold">{{form.equipment.label}}</span>
        <div class="border-2 border-black rounded-lg py-4 text-left pl-12 my-4">
            <span class="">{{form.equipment}}</span>
        </div>

        <button class="btn_sn">당일예약</button>
    </form>
    <span class="mt-5 text-black font-semibold">이미 당일예약 하셨다면 <a href="{% url "reservations:confirmreservationlist" %}"
            class="text-blue-600 font-black text-lg">인증</a>받고
        대여하세요!</span>
</div>

{% endblock content %}