{% extends "base.html" %}

{% block title_name %}
Change Password
{% endblock title_name %}

{% block content %}


<div class="container lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center p-5 border border-gray-500 mt-24">

    <form class="form text-center" method="post" action="{% url "users:updatepassword" %}"
        enctype="multipart/form-data">
        {% csrf_token %}

        {{form.old_password}}
        <span class="font-bold text-red-600 text-center">{{form.old_password.errors}}</span>

        {{form.new_password1}}
        <span class="font-bold text-red-600 text-center">{{form.new_password1.errors}}</span>

        {{form.new_password2}}
        <span class="font-bold text-red-600 text-center">{{form.new_password2.errors}}</span>

        <button class="btn_sn mt-10">비밀번호 변경</button>
    </form>
</div>


{% endblock content %}