{% if reservation.instant_boolean == False %}


<div class="w-full">
    <table class="w-full table-auto text-center">

        <tr class="border-b border-gray-500 
        {% if reservation.check_in < after_1h and reservation.check_out > before_1h and reservation.lender == user %} 
        bg-red-200 rounded-md
        {% elif reservation.lender == user %} 
        bg-yellow-200 rounded-md
        {% endif %}">
            <td class=" h-auto w-1/12 px-2 py-1">{{reservation.lender}}</td>
            <td class="h-auto px-2 w-1/6 py-1">
                <span class="font-bold">
                    [

                    {% if reservation.catagory == reservation.CATAGOTY_INFO %}
                    <span>정보</span>
                    {% elif reservation.catagory == reservation.CATAGOTY_SCHOOL_EVENTS %}
                    <span>교내행사</span>
                    {% elif reservation.catagory == reservation.CATAGORY_REFINE %}
                    <span>교양</span>
                    {% elif reservation.catagory == reservation.CATAGOTY_REALITY %}
                    <span>예능</span>
                    {% elif reservation.catagory == reservation.CATAGORY_PERFORM %}
                    <span>공연</span>
                    {% elif reservation.catagory == reservation.CATAGORY_RADIO %}
                    <span>라디오</span>
                    {% elif reservation.catagory == reservation.CATAGORY_SURV %}
                    <span>영상제</span>
                    {% elif reservation.catagory == reservation.CATAGORY_PERSONAL %}
                    <span>개인</span>
                    {% else %}
                    <span>{{reservation.catagory}}</span>

                    {% endif %}
                    ]
                </span>
                <br>
                {{reservation.purpose}}
            </td>
            <td class="h-auto px-2 w-5/12 py-1">
                {{reservation.get_equipments}}


                {% if reservation.lender == user %}

                <br>

                {% if reservation.check_in.day != now_day %}
                <a href="{% url "reservations:reservationchange" reservation.pk %}" class="mx-2">
                    <span class="text-sm text-gray-600 font-bold">
                        [수정]
                    </span>
                </a>
                {% elif reservation.accept and reservation.status != reservation.STATUS_FINISH %}
                <a href="{% url "reservations:instantreservationchange" reservation.pk %}" class="mx-2">
                    <span class="text-sm text-gray-600 font-bold">
                        [연장/추가대여]
                    </span>
                </a>
                {% endif %}

                <a href="{% url "reservations:reservationdelete" reservation.pk %}" class="mx-2">
                    <span class="text-sm text-gray-600 font-bold">
                        [취소]
                    </span>
                </a>

                {% endif %}

            </td>
            <td class="h-auto px-2 w-1/4 py-1">{{reservation.check_in}} <br>~<br> {{reservation.check_out}}
            </td>
            <td class="h-auto px-2 w-1/12 py-1">

                {% if reservation.status == reservation.STATUS_BEFORE %}

                {% if reservation.lender == user and reservation.accept and reservation.check_in < after_1h %}
                <a href="{% url "reservations:updatereservationnow" reservation.pk %}"
                    class="py-6 text-black hover:text-gray-600"><span class="">대여전</span></a>
                {% else %}
                <span>대여전</span>
                {% endif %}

                {% elif reservation.status == reservation.STATUS_NOW %}

                {% if reservation.lender == user and reservation.accept %}
                <a href="{% url "reservations:updatereservationfinish" reservation.pk %}"
                    class="py-6 text-red-600"><span class="font-bold text-red-600 hover:text-red-700">대여중</span></a>
                {% else %}
                <span class="font-bold text-red-600">대여중</span>
                {% endif %}

                {% elif reservation.status == reservation.STATUS_FINISH %}

                <span class="text-green-600">반납</span>

                {% endif %}

            </td>
            <td class="h-auto px-2 w-1/12 py-1">


                {% if user.upperuser %}
                <a href="{% url "reservations:updateacception" reservation.pk %}">
                    {% if reservation.accept %}
                    <span class="text-center"><i
                            class="fas fa-check-circle text-green-600 text-2xl hover:text-green-700"></i></span>
                    {% else %}
                    <span class="text-center"><i
                            class="fas fa-times-circle text-red-600 text-2xl hover:text-red-700"></i></span>
                    {% endif %}
                </a>

                {% else %}

                {% if reservation.accept %}
                <span class="text-center"><i class="fas fa-check-circle text-green-600 text-2xl"></i></span>
                {% else %}
                <span class="text-center"><i class="fas fa-times-circle text-red-600 text-2xl"></i></span>
                {% endif %}

                {% endif %}


            </td>
        </tr>

    </table>
</div>


{% endif %}